<h1 class='text-center mb-4'>Add a New Note</h1>

<div class='row justify-content-center'>
  <div class='col-md-6'>
    <form action='/add-note' method='POST'>
      <div class='mb-3'>
        <label for='title' class='form-label'>Title</label>
        <input type='text' class='form-control' id='title' name='title' required />
      </div>
      <div class='mb-3'>
        <label for='content' class='form-label'>Content</label>
        <textarea class='form-control' id='content' name='content' rows='4' required></textarea>
      </div>
      <div class='d-grid'>
        <button type='submit' class='btn btn-primary'>Add Note</button>
      </div>
    </form>
  </div>
</div>