<h1 class='text-center mb-4'>All Notes</h1>

<div class='row row-cols-1 row-cols-md-2 g-4'>
  {{#each notes}}
    <div class='col'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>{{title}}</h5>
          <p class='card-text'>{{content}}</p>
          <p class='text-muted small'>{{createdAt}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>